VFoodProject/VFood/VFood.Android/obj/Debug/
VFoodProject/VFood/VFood.iOS/obj/iPhone/Debug/
VFoodProject/VFood/VFood/bin/Debug/
VFoodProject/VFood/VFood/obj/Debug/
VFoodProject/VFood/VFood/obj/
VFoodProject/VFood/VFood.iOS/obj/
VFoodProject/VFood/VFood.Android/obj/
VFoodProject/.vs/VFoodProject/v15/
